body {
    background: #fff url('../img/Background.jpg') no-repeat center fixed;
    background-size: cover;
    color: #fff;
}

body > .container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: .3rem;
}

@media (min-width: 48em) {
  .container {
    max-width: 80rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

.footer img {
    max-height: 6em;
    display: block;
    margin: 0 auto;
}

.container-fluid img {
    max-height: 6em;
    display: block;
    margin: 0 auto;
}

.footer .container {
    justify-content: center;
    align-items: center;
}
