body {
    background: #fff url('../img/Background.jpg') no-repeat center fixed;
    background-size: cover;
    color: #fff;
}

.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
  color: #fff;
}

body > .container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: .3rem;
}

@media (min-width: 48em) {
  .container {
    max-width: 80rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

@media screen and (min-width: 48em) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 2rem;
  }
}

.footer img {
    max-height: 6em;
    display: block;
    margin: 0 auto;
}

.flexbox {
	display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.container-fluid img {
    max-height: 6em;
    display: block;
    margin: 0 auto;
}

.footer .container {
    justify-content: center;
    align-items: center;
}

.top-buffer {
	margin-top:30px;
}
